body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}

header {
    background: #0d47a1;
    margin: 0;
    padding: 40px;
    text-align: center;
}

.section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    color: #0d47a1;
}