body {
    background: #e3f2fd;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
}

li {
    margin: 10px 0;
    background: #bbdefb;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: gray;
}